<div class="page">
    <% for (let i = 0; i < pageEnd; i++) { %>
    <% if (i * postPerPage == passageStart ) {txt="underline"} else {txt="none"} %>
    <div style="text-decoration-line: <%= txt %>;">
        <a href="/bloglist?p=<%= i %>">[<%= i+1 %>]</a>
    </div>
    <% } %>
    <% next = passageStart/postPerPage + 1; past = passageStart/postPerPage - 1;%>
    <% if ( next == pageEnd ) {next = pageEnd - 1} %>
    <% if ( past < 0 ) {past = 0} %>
    <div><a href="/bloglist?p=<%= past %>">前一页</a></div>
    <div><a href="/bloglist?p=<%= next %>">下一页</a></div>
</div>